<div class="content">
  <h1 class="mat-h1 company-name">Software Engineer Vinokurov</h1>
  <form>
    <mat-form-field class="specialities-chip-list">
      <mat-label>Specialities</mat-label>
      <mat-chip-grid #chipGrid aria-label="Fruit selection">
        @for (speciality of specialities; track speciality) {
        <mat-chip-row (removed)="remove(speciality)">
          {{speciality}}
          <button matChipRemove [attr.aria-label]="'remove ' + speciality">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        }
      </mat-chip-grid>
      <input placeholder="Pick One..." #fruitInput [formControl]="specialityCtrl" [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)" />
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        @for (speciality of filteredSpecialities | async; track speciality) {
        <mat-option [value]="speciality">{{speciality}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <p>
    Phone: +31641623035
    <br>
    contact {{'[аt]'}} aleksandr.vin
    <br>
    KVK: 86580426
    <br>
    BTW-ID: NL004272161B66
  </p>
</div>

<router-outlet></router-outlet>